@tailwind base;
@tailwind components;
@tailwind utilities;

label{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
textarea{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}